{% extends "_templates/base.twig" %}
{% block content %}

<div class="jumbotron">
  <h1>{{ constant('COMPETENCY_TITLE') }}</h1>
  <p>{{ constant('THANKS_MESSAGE') }}</p>
  <br /><br />
  <p>Thank you for answering the qualification questions.
  
  {% if score >= threshold_score %}
    You achieved a score of {{ score }}%. <br />
    You can now take part in our unit testing study.
    <br /><br />

    Please note that you will not have to do the competency quiz again
    if you do any future HITs with the same qualification.
  {% else %}
    Unfortunately, you only achieved a score of {{ score }}%. <br />
    We are sorry but without qualification you cannot proceed to take
    the survey.
  {% endif %}
  </p>
</div>

{% if score >= threshold_score %}
<form role="form" method="post" action="{{ constant('URL') }}home/action">
<div class="row center-block">
  <p>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">{{ constant('USER_ID_LABEL') }}</span>
        <input type="text" class="form-control" name="user_id" id="user_id" placeholder="{{ constant('USER_ID_PLACE_HOLDER') }}" aria-describedby="basic-addon1" value="{{ user_id }}" required readonly/>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">{{ constant('TYPE_OF_SURVEY_LABEL') }}</span>
        <input type="text" class="form-control" name="study_hash" id="study_hash" placeholder="" aria-describedby="basic-addon1" value="{{ study_hash }}" required readonly/>
      </div>
    </div>
  </p>
  <p>
    <button class="btn btn-primary" type="submit" name="submit" value="Begin" style="width: 100%;">{{ constant('START') }}</button>
  </p>
</div>
</form>
{% endif %}

{% endblock %}
