{% extends "_templates/base.twig" %}
{% block content %}

<div class="jumbotron">
  <h1>{{ constant('HOME_TITLE') }}</h1>
  <p>{{ constant('HOME_SUB_TITLE') }}</p>
</div>

<p>This survey requires a Java qualification. <br/> If you already
have this qualification, you will be taken straight to the survey
after entering your Prolific Academic ID below. <br/> If you do not
have the qualification yet, the link will first take you to the
qualification questions. Once you have passed the qualification
questions, you will be taken to the main survey.<p>

<form role="form" method="post" action="{{ constant('URL') }}home/action">
<div class="row center-block">
  <p>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">{{ constant('USER_ID_LABEL') }}</span>
      <input type="text" class="form-control" name="user_id" id="user_id" placeholder="{{ constant('USER_ID_PLACE_HOLDER') }}" aria-describedby="basic-addon1" value="" required/>
    </div>
  </p>
  <p>
    <button class="btn btn-primary" type="submit" name="submit" value="Begin" style="width: 100%;">{{ constant('START') }}</button>
  </p>
</div>
</form>

{% endblock %}
