<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ constant('WEBPAGE_TITLE') }}</title>

  <!-- Icon -->
  <link href="{{ constant('URL') }}public/img/favicon.ico" rel="shortcut icon">

  <!-- Bootstrap -->
  <link href="{{ constant('URL') }}vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Font-Awesome -->
  <link href="{{ constant('URL') }}vendor/fortawesome/font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- Syntax highlighter (http://prismjs.com/) -->
  <link href="{{ constant('URL') }}public/css/prism.css" rel="stylesheet">

  <!-- PHP file tree -->
  <link href="{{ constant('URL') }}public/css/phpFileTree.css" rel="stylesheet">

  <!-- Tags -->
  <link href="{{ constant('URL') }}vendor/bordercloud/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet">

  <!-- Stars -->
  <link href="{{ constant('URL') }}vendor/kartik-v/bootstrap-star-rating/css/star-rating.min.css" rel="stylesheet">

  <!-- WebTour -->
  <link href="{{ constant('URL') }}vendor/sorich87/bootstrap-tour/build/css/bootstrap-tour.min.css" rel="stylesheet">

  <!-- Include in here any custom local style -->
  <link href="{{ constant('URL') }}public/css/custom.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- JQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <!-- bootstrap3-typeahead -->
  <script type="text/javascript" src="{{ constant('URL') }}vendor/bassjobsen/bootstrap-3-typeahead/bootstrap3-typeahead.min.js"></script>

  <!-- bootstrap-tagsinput -->
  <script type="text/javascript" src="{{ constant('URL') }}vendor/bordercloud/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

  <!-- Tags --> <!-- It has to be before 'body' as some views could add
  some tags using tagsinput's API -->
  <script type="text/javascript" src="{{ constant('URL') }}public/js/tags.js"></script>
</head>
<body>
  <!-- Navbar -->
  {% include '_templates/_navbar.twig' %}

  <!-- Container -->
  <div class="container">
    <!-- Success/Error/Info Messages -->
    {% include '_templates/_messages.twig' %}

    <!-- Content, will be passed here via Twig -->
    {% block content %} {% endblock %}

    <!-- Footer -->
    <hr />
    <footer>
      <p>{{ constant('WEBPAGE_TITLE') }} &copy; 2017</p>
    </footer>
  </div><!-- /.container -->

  <!-- Bootstrap-->
  <script type="text/javascript" src="{{ constant('URL') }}vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Syntax highlighter (http://prismjs.com/) -->
  <script type="text/javascript" src="{{ constant('URL') }}public/js/prism.js"></script>

  <!-- PHP file tree -->
  <script type="text/javascript" src="{{ constant('URL') }}public/js/php_file_tree_jquery.js"></script>

  <!-- Tabs -->
  <script type="text/javascript" src="{{ constant('URL') }}public/js/tabs.js"></script>

  <!-- Stars -->
  <script type="text/javascript" src="{{ constant('URL') }}vendor/kartik-v/bootstrap-star-rating/js/star-rating.min.js"></script>
  <script type="text/javascript" src="{{ constant('URL') }}public/js/stars.js"></script>

  <!-- WebTour -->
  <script type="text/javascript" src="{{ constant('URL') }}vendor/sorich87/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
  <script type="text/javascript" src="{{ constant('URL') }}public/js/webtour.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="{{ constant('URL') }}public/js/custom.js"></script>

</body>
</html>
